@import "../div-base";

.block-drop-wrap{
	white-space: nowrap;
	display: inline;

	&:before,
	&:after{
		content: ' ';
		display: table;
		line-height: 0;
		width: 0;
		height: 0;
	}

	&:after{
		clear: both
	}
}

