.icon {
	display: inline-block;
	fill: $text-color-default;
	height: 26px;
	width: 26px;

	&.drop-down-arrow {
		fill: change-color($text-color-default, $lightness: 55%);
		height: 12px;
		margin: -6px 0 0 8px;
		position: absolute;
		right: 5px;
		top: 50%;
		transform: rotate(-90deg) scaleX(1);
		transition: transform 350ms ease-out;
		width: 12px;
	}

	&.burger {
		height: 11px;
		width: 16px;
	}

	&.tools {
		height: 17px;
		width: 17px;
	}
}